USE [master]
GO
/****** Object:  Database [SistemaMatriculaUniversitariaDB]    Script Date: 7/3/2026 13:59:32 ******/
CREATE DATABASE [SistemaMatriculaUniversitariaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaMatriculaUniversitariaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\SistemaMatriculaUniversitariaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaMatriculaUniversitariaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\SistemaMatriculaUniversitariaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaMatriculaUniversitariaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaMatriculaUniversitariaDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[CarreraId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Carreras] PRIMARY KEY CLUSTERED 
(
	[CarreraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[CursoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Creditos] [int] NOT NULL,
	[CarreraId] [int] NOT NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docentes]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docentes](
	[DocenteId] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[Especialidad] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Docentes] PRIMARY KEY CLUSTERED 
(
	[DocenteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[EstudianteId] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](max) NOT NULL,
	[CarreraId] [int] NOT NULL,
 CONSTRAINT [PK_Estudiantes] PRIMARY KEY CLUSTERED 
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matriculas]    Script Date: 7/3/2026 13:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matriculas](
	[MatriculaId] [int] IDENTITY(1,1) NOT NULL,
	[EstudianteId] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
	[FechaMatricula] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Matriculas] PRIMARY KEY CLUSTERED 
(
	[MatriculaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'6.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260317075910_InicialSistemaMatricula', N'6.0.15')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 7/3/2026 13:59:32 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/3/2026 13:59:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 7/3/2026 13:59:33 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 7/3/2026 13:59:33 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 7/3/2026 13:59:33 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 7/3/2026 13:59:33 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/3/2026 13:59:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cursos_CarreraId]    Script Date: 7/3/2026 13:59:33 ******/
CREATE NONCLUSTERED INDEX [IX_Cursos_CarreraId] ON [dbo].[Cursos]
(
	[CarreraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Estudiantes_CarreraId]    Script Date: 7/3/2026 13:59:33 ******/
CREATE NONCLUSTERED INDEX [IX_Estudiantes_CarreraId] ON [dbo].[Estudiantes]
(
	[CarreraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Matriculas_CursoId]    Script Date: 7/3/2026 13:59:33 ******/
CREATE NONCLUSTERED INDEX [IX_Matriculas_CursoId] ON [dbo].[Matriculas]
(
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Matriculas_EstudianteId]    Script Date: 7/3/2026 13:59:33 ******/
CREATE NONCLUSTERED INDEX [IX_Matriculas_EstudianteId] ON [dbo].[Matriculas]
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Carreras_CarreraId] FOREIGN KEY([CarreraId])
REFERENCES [dbo].[Carreras] ([CarreraId])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Carreras_CarreraId]
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiantes_Carreras_CarreraId] FOREIGN KEY([CarreraId])
REFERENCES [dbo].[Carreras] ([CarreraId])
GO
ALTER TABLE [dbo].[Estudiantes] CHECK CONSTRAINT [FK_Estudiantes_Carreras_CarreraId]
GO
ALTER TABLE [dbo].[Matriculas]  WITH CHECK ADD  CONSTRAINT [FK_Matriculas_Cursos_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([CursoId])
GO
ALTER TABLE [dbo].[Matriculas] CHECK CONSTRAINT [FK_Matriculas_Cursos_CursoId]
GO
ALTER TABLE [dbo].[Matriculas]  WITH CHECK ADD  CONSTRAINT [FK_Matriculas_Estudiantes_EstudianteId] FOREIGN KEY([EstudianteId])
REFERENCES [dbo].[Estudiantes] ([EstudianteId])
GO
ALTER TABLE [dbo].[Matriculas] CHECK CONSTRAINT [FK_Matriculas_Estudiantes_EstudianteId]
GO
USE [master]
GO
USE [SistemaMatriculaUniversitariaDB]
GO

/* =========================================================
   INSERTS DE PRUEBA PARA TABLAS PRINCIPALES
   ========================================================= */

/* =========================
   1. CARRERAS
   ========================= */
IF NOT EXISTS (SELECT 1 FROM dbo.Carreras WHERE Nombre = 'Ingeniería en Sistemas')
BEGIN
    INSERT INTO dbo.Carreras (Nombre, Descripcion)
    VALUES ('Ingeniería en Sistemas', 'Carrera orientada al desarrollo de software, bases de datos, redes y gestión de tecnologías de información.');
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Carreras WHERE Nombre = 'Ingeniería Industrial')
BEGIN
    INSERT INTO dbo.Carreras (Nombre, Descripcion)
    VALUES ('Ingeniería Industrial', 'Carrera enfocada en la optimización de procesos, calidad, logística y gestión de operaciones.');
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Carreras WHERE Nombre = 'Administración de Empresas')
BEGIN
    INSERT INTO dbo.Carreras (Nombre, Descripcion)
    VALUES ('Administración de Empresas', 'Carrera orientada a la gestión empresarial, liderazgo, finanzas y estrategia organizacional.');
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Carreras WHERE Nombre = 'Contaduría Pública')
BEGIN
    INSERT INTO dbo.Carreras (Nombre, Descripcion)
    VALUES ('Contaduría Pública', 'Carrera centrada en contabilidad financiera, auditoría, tributación y control interno.');
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Carreras WHERE Nombre = 'Diseño Gráfico')
BEGIN
    INSERT INTO dbo.Carreras (Nombre, Descripcion)
    VALUES ('Diseño Gráfico', 'Carrera orientada a la comunicación visual, diseño digital, branding y producción multimedia.');
END
GO

/* =========================
   2. CURSOS
   ========================= */
IF NOT EXISTS (SELECT 1 FROM dbo.Cursos WHERE Nombre = 'Programación Avanzada')
BEGIN
    INSERT INTO dbo.Cursos (Nombre, Creditos, CarreraId)
    VALUES (
        'Programación Avanzada',
        4,
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Ingeniería en Sistemas')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Cursos WHERE Nombre = 'Bases de Datos')
BEGIN
    INSERT INTO dbo.Cursos (Nombre, Creditos, CarreraId)
    VALUES (
        'Bases de Datos',
        4,
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Ingeniería en Sistemas')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Cursos WHERE Nombre = 'Redes de Computadoras')
BEGIN
    INSERT INTO dbo.Cursos (Nombre, Creditos, CarreraId)
    VALUES (
        'Redes de Computadoras',
        3,
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Ingeniería en Sistemas')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Cursos WHERE Nombre = 'Gestión de Calidad')
BEGIN
    INSERT INTO dbo.Cursos (Nombre, Creditos, CarreraId)
    VALUES (
        'Gestión de Calidad',
        3,
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Ingeniería Industrial')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Cursos WHERE Nombre = 'Logística Empresarial')
BEGIN
    INSERT INTO dbo.Cursos (Nombre, Creditos, CarreraId)
    VALUES (
        'Logística Empresarial',
        3,
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Ingeniería Industrial')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Cursos WHERE Nombre = 'Administración General')
BEGIN
    INSERT INTO dbo.Cursos (Nombre, Creditos, CarreraId)
    VALUES (
        'Administración General',
        3,
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Administración de Empresas')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Cursos WHERE Nombre = 'Mercadeo Estratégico')
BEGIN
    INSERT INTO dbo.Cursos (Nombre, Creditos, CarreraId)
    VALUES (
        'Mercadeo Estratégico',
        3,
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Administración de Empresas')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Cursos WHERE Nombre = 'Contabilidad Financiera')
BEGIN
    INSERT INTO dbo.Cursos (Nombre, Creditos, CarreraId)
    VALUES (
        'Contabilidad Financiera',
        4,
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Contaduría Pública')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Cursos WHERE Nombre = 'Auditoría I')
BEGIN
    INSERT INTO dbo.Cursos (Nombre, Creditos, CarreraId)
    VALUES (
        'Auditoría I',
        4,
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Contaduría Pública')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Cursos WHERE Nombre = 'Diseño Digital')
BEGIN
    INSERT INTO dbo.Cursos (Nombre, Creditos, CarreraId)
    VALUES (
        'Diseño Digital',
        3,
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Diseño Gráfico')
    );
END
GO

/* =========================
   3. DOCENTES
   ========================= */
IF NOT EXISTS (SELECT 1 FROM dbo.Docentes WHERE NombreCompleto = 'Carlos Ramírez Soto')
BEGIN
    INSERT INTO dbo.Docentes (NombreCompleto, Especialidad)
    VALUES ('Carlos Ramírez Soto', 'Desarrollo de software');
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Docentes WHERE NombreCompleto = 'María Fernanda Solano')
BEGIN
    INSERT INTO dbo.Docentes (NombreCompleto, Especialidad)
    VALUES ('María Fernanda Solano', 'Bases de datos');
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Docentes WHERE NombreCompleto = 'Andrés Villalobos Méndez')
BEGIN
    INSERT INTO dbo.Docentes (NombreCompleto, Especialidad)
    VALUES ('Andrés Villalobos Méndez', 'Gestión industrial');
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Docentes WHERE NombreCompleto = 'Laura Chaves Mora')
BEGIN
    INSERT INTO dbo.Docentes (NombreCompleto, Especialidad)
    VALUES ('Laura Chaves Mora', 'Contabilidad y auditoría');
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Docentes WHERE NombreCompleto = 'Sofía Brenes Jiménez')
BEGIN
    INSERT INTO dbo.Docentes (NombreCompleto, Especialidad)
    VALUES ('Sofía Brenes Jiménez', 'Diseño y comunicación visual');
END
GO

/* =========================
   4. ESTUDIANTES
   ========================= */
IF NOT EXISTS (SELECT 1 FROM dbo.Estudiantes WHERE Correo = 'rebeca.salazar@universidad.ac.cr')
BEGIN
    INSERT INTO dbo.Estudiantes (NombreCompleto, Correo, CarreraId)
    VALUES (
        'Rebeca Salazar Alfaro',
        'rebeca.salazar@universidad.ac.cr',
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Ingeniería en Sistemas')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Estudiantes WHERE Correo = 'daniel.rojas@universidad.ac.cr')
BEGIN
    INSERT INTO dbo.Estudiantes (NombreCompleto, Correo, CarreraId)
    VALUES (
        'Daniel Rojas Castro',
        'daniel.rojas@universidad.ac.cr',
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Ingeniería Industrial')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Estudiantes WHERE Correo = 'valeria.monge@universidad.ac.cr')
BEGIN
    INSERT INTO dbo.Estudiantes (NombreCompleto, Correo, CarreraId)
    VALUES (
        'Valeria Monge Herrera',
        'valeria.monge@universidad.ac.cr',
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Administración de Empresas')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Estudiantes WHERE Correo = 'jose.cordero@universidad.ac.cr')
BEGIN
    INSERT INTO dbo.Estudiantes (NombreCompleto, Correo, CarreraId)
    VALUES (
        'José Cordero Vargas',
        'jose.cordero@universidad.ac.cr',
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Contaduría Pública')
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Estudiantes WHERE Correo = 'camila.araya@universidad.ac.cr')
BEGIN
    INSERT INTO dbo.Estudiantes (NombreCompleto, Correo, CarreraId)
    VALUES (
        'Camila Araya López',
        'camila.araya@universidad.ac.cr',
        (SELECT TOP 1 CarreraId FROM dbo.Carreras WHERE Nombre = 'Diseño Gráfico')
    );
END
GO

/* =========================
   5. MATRICULAS
   ========================= */
IF NOT EXISTS (
    SELECT 1
    FROM dbo.Matriculas m
    INNER JOIN dbo.Estudiantes e ON m.EstudianteId = e.EstudianteId
    INNER JOIN dbo.Cursos c ON m.CursoId = c.CursoId
    WHERE e.Correo = 'rebeca.salazar@universidad.ac.cr'
      AND c.Nombre = 'Programación Avanzada'
)
BEGIN
    INSERT INTO dbo.Matriculas (EstudianteId, CursoId, FechaMatricula)
    VALUES (
        (SELECT TOP 1 EstudianteId FROM dbo.Estudiantes WHERE Correo = 'rebeca.salazar@universidad.ac.cr'),
        (SELECT TOP 1 CursoId FROM dbo.Cursos WHERE Nombre = 'Programación Avanzada'),
        '2026-03-10'
    );
END
GO

IF NOT EXISTS (
    SELECT 1
    FROM dbo.Matriculas m
    INNER JOIN dbo.Estudiantes e ON m.EstudianteId = e.EstudianteId
    INNER JOIN dbo.Cursos c ON m.CursoId = c.CursoId
    WHERE e.Correo = 'rebeca.salazar@universidad.ac.cr'
      AND c.Nombre = 'Bases de Datos'
)
BEGIN
    INSERT INTO dbo.Matriculas (EstudianteId, CursoId, FechaMatricula)
    VALUES (
        (SELECT TOP 1 EstudianteId FROM dbo.Estudiantes WHERE Correo = 'rebeca.salazar@universidad.ac.cr'),
        (SELECT TOP 1 CursoId FROM dbo.Cursos WHERE Nombre = 'Bases de Datos'),
        '2026-03-10'
    );
END
GO

IF NOT EXISTS (
    SELECT 1
    FROM dbo.Matriculas m
    INNER JOIN dbo.Estudiantes e ON m.EstudianteId = e.EstudianteId
    INNER JOIN dbo.Cursos c ON m.CursoId = c.CursoId
    WHERE e.Correo = 'daniel.rojas@universidad.ac.cr'
      AND c.Nombre = 'Gestión de Calidad'
)
BEGIN
    INSERT INTO dbo.Matriculas (EstudianteId, CursoId, FechaMatricula)
    VALUES (
        (SELECT TOP 1 EstudianteId FROM dbo.Estudiantes WHERE Correo = 'daniel.rojas@universidad.ac.cr'),
        (SELECT TOP 1 CursoId FROM dbo.Cursos WHERE Nombre = 'Gestión de Calidad'),
        '2026-03-11'
    );
END
GO

IF NOT EXISTS (
    SELECT 1
    FROM dbo.Matriculas m
    INNER JOIN dbo.Estudiantes e ON m.EstudianteId = e.EstudianteId
    INNER JOIN dbo.Cursos c ON m.CursoId = c.CursoId
    WHERE e.Correo = 'daniel.rojas@universidad.ac.cr'
      AND c.Nombre = 'Logística Empresarial'
)
BEGIN
    INSERT INTO dbo.Matriculas (EstudianteId, CursoId, FechaMatricula)
    VALUES (
        (SELECT TOP 1 EstudianteId FROM dbo.Estudiantes WHERE Correo = 'daniel.rojas@universidad.ac.cr'),
        (SELECT TOP 1 CursoId FROM dbo.Cursos WHERE Nombre = 'Logística Empresarial'),
        '2026-03-11'
    );
END
GO

IF NOT EXISTS (
    SELECT 1
    FROM dbo.Matriculas m
    INNER JOIN dbo.Estudiantes e ON m.EstudianteId = e.EstudianteId
    INNER JOIN dbo.Cursos c ON m.CursoId = c.CursoId
    WHERE e.Correo = 'valeria.monge@universidad.ac.cr'
      AND c.Nombre = 'Administración General'
)
BEGIN
    INSERT INTO dbo.Matriculas (EstudianteId, CursoId, FechaMatricula)
    VALUES (
        (SELECT TOP 1 EstudianteId FROM dbo.Estudiantes WHERE Correo = 'valeria.monge@universidad.ac.cr'),
        (SELECT TOP 1 CursoId FROM dbo.Cursos WHERE Nombre = 'Administración General'),
        '2026-03-12'
    );
END
GO

IF NOT EXISTS (
    SELECT 1
    FROM dbo.Matriculas m
    INNER JOIN dbo.Estudiantes e ON m.EstudianteId = e.EstudianteId
    INNER JOIN dbo.Cursos c ON m.CursoId = c.CursoId
    WHERE e.Correo = 'valeria.monge@universidad.ac.cr'
      AND c.Nombre = 'Mercadeo Estratégico'
)
BEGIN
    INSERT INTO dbo.Matriculas (EstudianteId, CursoId, FechaMatricula)
    VALUES (
        (SELECT TOP 1 EstudianteId FROM dbo.Estudiantes WHERE Correo = 'valeria.monge@universidad.ac.cr'),
        (SELECT TOP 1 CursoId FROM dbo.Cursos WHERE Nombre = 'Mercadeo Estratégico'),
        '2026-03-12'
    );
END
GO

IF NOT EXISTS (
    SELECT 1
    FROM dbo.Matriculas m
    INNER JOIN dbo.Estudiantes e ON m.EstudianteId = e.EstudianteId
    INNER JOIN dbo.Cursos c ON m.CursoId = c.CursoId
    WHERE e.Correo = 'jose.cordero@universidad.ac.cr'
      AND c.Nombre = 'Contabilidad Financiera'
)
BEGIN
    INSERT INTO dbo.Matriculas (EstudianteId, CursoId, FechaMatricula)
    VALUES (
        (SELECT TOP 1 EstudianteId FROM dbo.Estudiantes WHERE Correo = 'jose.cordero@universidad.ac.cr'),
        (SELECT TOP 1 CursoId FROM dbo.Cursos WHERE Nombre = 'Contabilidad Financiera'),
        '2026-03-13'
    );
END
GO

IF NOT EXISTS (
    SELECT 1
    FROM dbo.Matriculas m
    INNER JOIN dbo.Estudiantes e ON m.EstudianteId = e.EstudianteId
    INNER JOIN dbo.Cursos c ON m.CursoId = c.CursoId
    WHERE e.Correo = 'jose.cordero@universidad.ac.cr'
      AND c.Nombre = 'Auditoría I'
)
BEGIN
    INSERT INTO dbo.Matriculas (EstudianteId, CursoId, FechaMatricula)
    VALUES (
        (SELECT TOP 1 EstudianteId FROM dbo.Estudiantes WHERE Correo = 'jose.cordero@universidad.ac.cr'),
        (SELECT TOP 1 CursoId FROM dbo.Cursos WHERE Nombre = 'Auditoría I'),
        '2026-03-13'
    );
END
GO

IF NOT EXISTS (
    SELECT 1
    FROM dbo.Matriculas m
    INNER JOIN dbo.Estudiantes e ON m.EstudianteId = e.EstudianteId
    INNER JOIN dbo.Cursos c ON m.CursoId = c.CursoId
    WHERE e.Correo = 'camila.araya@universidad.ac.cr'
      AND c.Nombre = 'Diseño Digital'
)
BEGIN
    INSERT INTO dbo.Matriculas (EstudianteId, CursoId, FechaMatricula)
    VALUES (
        (SELECT TOP 1 EstudianteId FROM dbo.Estudiantes WHERE Correo = 'camila.araya@universidad.ac.cr'),
        (SELECT TOP 1 CursoId FROM dbo.Cursos WHERE Nombre = 'Diseño Digital'),
        '2026-03-14'
    );
END
GO

IF NOT EXISTS (
    SELECT 1
    FROM dbo.Matriculas m
    INNER JOIN dbo.Estudiantes e ON m.EstudianteId = e.EstudianteId
    INNER JOIN dbo.Cursos c ON m.CursoId = c.CursoId
    WHERE e.Correo = 'camila.araya@universidad.ac.cr'
      AND c.Nombre = 'Mercadeo Estratégico'
)
BEGIN
    INSERT INTO dbo.Matriculas (EstudianteId, CursoId, FechaMatricula)
    VALUES (
        (SELECT TOP 1 EstudianteId FROM dbo.Estudiantes WHERE Correo = 'camila.araya@universidad.ac.cr'),
        (SELECT TOP 1 CursoId FROM dbo.Cursos WHERE Nombre = 'Mercadeo Estratégico'),
        '2026-03-14'
    );
END
GO